*{
    margin: 0;
    padding: 0;
}

.navigation{
    width: 100%;
    background-color: #6495ec;
}

.nav-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item{
    list-style-type: none;
    margin: 20px;
}

.nav-item a{
    color: #ffffff;
}

.nav-item:hover a{
    color: wheat;
    cursor: pointer;
}